@import 'variables';

#nprogress .bar {
  background: $violet !important;
}

.btn {
  cursor: pointer;
}

.content-wrapper {
  padding: 10px 20px;
}

::-webkit-scrollbar {
  height: 3px;
  width: 3px;
  background: $lightgrey;
}

::-webkit-scrollbar-thumb {
  background: $violet;
  border-radius: 10px;
}

.dropdown-menu {
  min-width: 0px !important;
}

.dropdown-content {
  box-shadow: $shadow !important;
}

.dropdown-item {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.dropdown-item:hover {
  background-color: $violet !important;
  color: $white !important;
}

.is-left {
  text-align: left;
}

.is-right {
  text-align: right;
}

.textarea-code {
  -webkit-font-smoothing: auto;
  font-family: monospace;
  color: $darkgrey;
  font-size: 0.875em;
}

.textarea-url {
  resize: none;
}

.card-content {
  padding: 1rem;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.3);
}